<template>
  <nav class="navbar is-dark">
    <nuxt-link tag="a" class="navbar-item" to="/">
      <svg class="btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>M Cubed Logo</title>
        <path
          d="M 5,3 C 6.108,3 7,3.892 7,5 V 19 C 7,20.108 6.108,21 5,21 3.892,21 3,20.108 3,19 V 5 C 3,3.892 3.892,3 5,3 Z"
        />
        <path
          d="m 19,3 c 1.108,0 2,0.892 2,2 v 14 c 0,1.108 -0.892,2 -2,2 -1.108,0 -2,-0.892 -2,-2 V 5 c 0,-1.108 0.892,-2 2,-2 z"
        />
        <path
          d="m 12,3 c 1.108,0 2,0.892 2,2 v 5 c 0,1.108 -0.892,2 -2,2 -1.108,0 -2,-0.892 -2,-2 V 5 c 0,-1.108 0.892,-2 2,-2 z"
        />
      </svg>
    </nuxt-link>
    <div style="flex-grow: 1"></div>
    <nuxt-link tag="a" class="navbar-item" to="/">
      <svg class="btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>Score entry</title>
        <g><rect fill="none" height="24" width="24" /></g>
        <g>
          <path
            d="M 5 3 C 3.9 3 3 3.9 3 5 L 3 9 C 3 10.1 3.9 11 5 11 L 6.2578125 11 L 6.2578125 7.4707031 L 4.9316406 7.4707031 C 4.5980706 7.4707031 4.434673 7.0696328 4.671875 6.8398438 L 6.7402344 4.7714844 C 6.8810734 4.6306464 7.1189266 4.6306464 7.2597656 4.7714844 L 9.328125 6.8398438 C 9.565327 7.0696328 9.4019254 7.4707031 9.0683594 7.4707031 L 7.7421875 7.4707031 L 7.7421875 11 L 9 11 C 10.1 11 11 10.1 11 9 L 11 5 C 11 3.9 10.1 3 9 3 L 5 3 z"
          />
          <path
            d="M 5 13 C 3.9 13 3 13.9 3 15 L 3 19 C 3 20.1 3.9 21 5 21 L 9 21 C 10.1 21 11 20.1 11 19 L 11 15 C 11 13.9 10.1 13 9 13 L 5 13 z M 5.1328125 16.533203 L 8.8671875 16.533203 C 9.1238537 16.533203 9.3339844 16.743334 9.3339844 17 C 9.3339844 17.256666 9.1238537 17.466797 8.8671875 17.466797 L 5.1328125 17.466797 C 4.8761463 17.466797 4.6660156 17.256666 4.6660156 17 C 4.6660156 16.743334 4.8761463 16.533203 5.1328125 16.533203 z"
          />
          <path
            d="M 15 3 C 13.9 3 13 3.9 13 5 L 13 9 C 13 10.1 13.9 11 15 11 L 19 11 C 20.1 11 21 10.1 21 9 L 21 5 C 21 3.9 20.1 3 19 3 L 15 3 z M 17 4.6660156 C 17.256667 4.6660156 17.466797 4.8761455 17.466797 5.1328125 L 17.466797 6.5332031 L 18.867188 6.5332031 C 19.123855 6.5332031 19.333984 6.743333 19.333984 7 C 19.333984 7.256667 19.123855 7.4667969 18.867188 7.4667969 L 17.466797 7.4667969 L 17.466797 8.8652344 C 17.466797 9.1219014 17.256667 9.3320313 17 9.3320312 C 16.743333 9.3320312 16.533203 9.1219014 16.533203 8.8652344 L 16.533203 7.4667969 L 15.132812 7.4667969 C 14.876145 7.4667969 14.666016 7.256667 14.666016 7 C 14.666016 6.743333 14.876145 6.5332031 15.132812 6.5332031 L 16.533203 6.5332031 L 16.533203 5.1328125 C 16.533203 4.8761455 16.743333 4.6660156 17 4.6660156 z"
          />
          <path
            d="M 15 13 C 13.9 13 13 13.9 13 15 L 13 19 C 13 20.1 13.9 21 15 21 L 19 21 C 20.1 21 21 20.1 21 19 L 21 15 C 21 13.9 20.1 13 19 13 L 17.742188 13 L 17.742188 16.529297 L 19.068359 16.529297 C 19.401929 16.529297 19.565327 16.930367 19.328125 17.160156 L 17.259766 19.228516 C 17.118927 19.369355 16.881073 19.369355 16.740234 19.228516 L 14.671875 17.160156 C 14.434673 16.930367 14.598076 16.529297 14.931641 16.529297 L 16.257812 16.529297 L 16.257812 13 L 15 13 z"
          />
        </g>
      </svg>
    </nuxt-link>
    <nuxt-link tag="a" class="navbar-item" to="/scores">
      <svg class="btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <title>Score Sheet</title>
        <path
          d="M19 3h-4.18C14.4 1.84 13.3 1 12 1s-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm1 14H8c-.55 0-1-.45-1-1s.45-1 1-1h5c.55 0 1 .45 1 1s-.45 1-1 1zm3-4H8c-.55 0-1-.45-1-1s.45-1 1-1h8c.55 0 1 .45 1 1s-.45 1-1 1zm0-4H8c-.55 0-1-.45-1-1s.45-1 1-1h8c.55 0 1 .45 1 1s-.45 1-1 1z"
        />
      </svg>
    </nuxt-link>
  </nav>
</template>

<style>
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

svg.btn {
  fill: #f3e600;
  height: 3.5rem;
  width: 3.5rem;
}

svg.btn:hover,
svg.btn:active {
  fill: #39cccc;
}
</style>
