<template>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        {{ title }}
      </p>
    </header>
    <div class="card-content">
      <Segment :speaker="speaker" :score="scores.matter" area="matter" />
      <Segment :speaker="speaker" :score="scores.method" area="method" />
      <Segment :speaker="speaker" :score="scores.manner" area="manner" />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    speaker: {
      type: Number,
      required: true,
    },
  },
  computed: {
    scores() {
      return this.$store.getters['scores/delta'](this.speaker)
    },
  },
}
</script>

<style>
.card {
  margin-top: 1rem;
}

.card-content {
  display: grid;
  gap: 0 1em;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
}
</style>
