<template>
  <div class="segment">
    <button class="button is-dark" @click="increment">
      <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"
        />
      </svg>
    </button>
    <button class="button is-dark" @click="decrement">
      <svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M18 13H6c-.55 0-1-.45-1-1s.45-1 1-1h12c.55 0 1 .45 1 1s-.45 1-1 1z"
        />
      </svg>
    </button>
    <figure class="mxsu">
      <img v-if="score === -4" src="~/assets/svg/score_4_less.svg" alt="-4" />
      <img v-if="score === -3" src="~/assets/svg/score_3_less.svg" alt="-3" />
      <img v-if="score === -2" src="~/assets/svg/score_2_less.svg" alt="-2" />
      <img v-if="score === -1" src="~/assets/svg/score_1_less.svg" alt="-1" />
      <img v-if="score === 0" src="~/assets/svg/score_0_none.svg" alt="0" />
      <img v-if="score === 1" src="~/assets/svg/score_1_more.svg" alt="1" />
      <img v-if="score === 2" src="~/assets/svg/score_2_more.svg" alt="2" />
      <img v-if="score === 3" src="~/assets/svg/score_3_more.svg" alt="3" />
      <img v-if="score === 4" src="~/assets/svg/score_4_more.svg" alt="4" />
    </figure>
  </div>
</template>

<script>
export default {
  props: {
    score: {
      type: Number,
      required: false,
      default: 0,
    },
    speaker: {
      type: Number,
      required: true,
    },
    area: {
      type: String,
      required: true,
    },
  },
  methods: {
    increment(event) {
      this.$store.commit('scores/increment', { s: this.speaker, a: this.area })
    },
    decrement(event) {
      this.$store.commit('scores/decrement', { s: this.speaker, a: this.area })
    },
  },
}
</script>

<style>
div.segment {
  display: grid;
  gap: 5px 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-height: 96px;
  max-width: 96px;
}

@media screen and (max-width: 720px) {
  div.segment {
    max-height: 84px;
    max-width: 84px;
  }
}

button.button {
  width: 100%;
  height: 100%;
  padding: 0;
}

figure.mxsu {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
</style>
