<template>
  <div class="score-sheet">
    <table class="table is-hoverable has-text-centered is-fullwidth">
      <colgroup>
        <col span="1" style="width: 300px" />
        <col span="4" style="width: 60px" />
      </colgroup>
      <thead>
        <tr class="has-text-weight-bold has-background-grey-lighter">
          <th scope="col" class="has-text-left">
            <span class="has-text-weight-bold">Affirmative Team</span>
            <br />
            <span v-if="details.aff.club" class="has-text-weight-bold">
              {{ details.aff.club }}
            </span>
            <span v-if="details.aff.team" class="has-text-weight-normal">
              {{ details.aff.team }}
            </span>
          </th>
          <th scope="col">Matter<br /><span class="small">Out of 40</span></th>
          <th scope="col">Method<br /><span class="small">Out of 20</span></th>
          <th scope="col">Manner<br /><span class="small">Out of 40</span></th>
          <th scope="col">Total<br /><span class="small">Out of 100</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td v-if="details.aff.first" class="has-text-left">
            {{ details.aff.first }}
          </td>
          <td v-else class="has-text-left">First Affirmative</td>
          <td>{{ score.aff.first.matter }}</td>
          <td>{{ score.aff.first.method }}</td>
          <td>{{ score.aff.first.manner }}</td>
          <td>{{ score.aff.first.total }}</td>
        </tr>
        <tr>
          <td v-if="details.aff.second" class="has-text-left">
            {{ details.aff.second }}
          </td>
          <td v-else class="has-text-left">Second Affirmative</td>
          <td>{{ score.aff.second.matter }}</td>
          <td>{{ score.aff.second.method }}</td>
          <td>{{ score.aff.second.manner }}</td>
          <td>{{ score.aff.second.total }}</td>
        </tr>
        <tr>
          <td v-if="details.aff.third" class="has-text-left">
            {{ details.aff.third }}
          </td>
          <td v-else class="has-text-left">Third Affirmative</td>
          <td>{{ score.aff.third.matter }}</td>
          <td>{{ score.aff.third.method }}</td>
          <td>{{ score.aff.third.manner }}</td>
          <td>{{ score.aff.third.total }}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{ score.aff.total.matter }}</td>
          <td>{{ score.aff.total.method }}</td>
          <td>{{ score.aff.total.manner }}</td>
          <td>{{ score.aff.total.total }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table is-hoverable has-text-centered is-fullwidth">
      <colgroup>
        <col span="1" style="width: 300px" />
        <col span="4" style="width: 60px" />
      </colgroup>
      <thead>
        <tr class="has-text-weight-bold has-background-grey-lighter">
          <th scope="col" class="has-text-left">
            <span class="has-text-weight-bold">Negative Team</span>
            <br />
            <span v-if="details.neg.club" class="has-text-weight-bold">
              {{ details.neg.club }}
            </span>
            <span v-if="details.neg.team" class="has-text-weight-normal">
              {{ details.neg.team }}
            </span>
          </th>
          <th scope="col">Matter<br /><span class="small">Out of 40</span></th>
          <th scope="col">Method<br /><span class="small">Out of 20</span></th>
          <th scope="col">Manner<br /><span class="small">Out of 40</span></th>
          <th scope="col">Total<br /><span class="small">Out of 100</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td v-if="details.negFirst" class="has-text-left">
            {{ details.negFirst.name }}
          </td>
          <td v-else class="has-text-left">First Affirmative</td>
          <td>{{ score.neg.first.matter }}</td>
          <td>{{ score.neg.first.method }}</td>
          <td>{{ score.neg.first.manner }}</td>
          <td>{{ score.neg.first.total }}</td>
        </tr>
        <tr>
          <td v-if="details.negSecond" class="has-text-left">
            {{ details.negSecond.name }}
          </td>
          <td v-else class="has-text-left">Second Affirmative</td>
          <td>{{ score.neg.second.matter }}</td>
          <td>{{ score.neg.second.method }}</td>
          <td>{{ score.neg.second.manner }}</td>
          <td>{{ score.neg.second.total }}</td>
        </tr>
        <tr>
          <td v-if="details.negThird" class="has-text-left">
            {{ details.negThird.name }}
          </td>
          <td v-else class="has-text-left">Third Affirmative</td>
          <td>{{ score.neg.third.matter }}</td>
          <td>{{ score.neg.third.method }}</td>
          <td>{{ score.neg.third.manner }}</td>
          <td>{{ score.neg.third.total }}</td>
        </tr>
        <tr>
          <td></td>
          <td>{{ score.neg.total.matter }}</td>
          <td>{{ score.neg.total.method }}</td>
          <td>{{ score.neg.total.manner }}</td>
          <td>{{ score.neg.total.total }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table has-text-centered is-fullwidth">
      <thead class="has-text-weight-bold has-background-grey-lighter">
        <th scope="col">Adjudicator</th>
        <th scope="col">Best Speakers</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <span v-if="score.adjudicator">{{ score.adjudicator.name }}</span>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    score: {
      type: Object,
      required: true,
    },
    details: {
      type: Object,
      required: true,
    },
  },
}
</script>

<style>
/* Fix for last column of score sheet wrapping the "Out of 100" */
.score-sheet > table > thead > tr > th:nth-child(5) {
  padding: 0.5em 0;
}

/* Vertically and horizontally centre the score sheet */
.score-sheet {
  border-radius: 5px;
  border: 0.1rem solid black;
  background-color: white;
  overflow: hidden;
  margin: auto;
  max-width: 800px;
}

span.small {
  font-weight: 300 !important;
  font-size: 0.7rem !important;
}

/* To ensure proper display on mobile devices... */
@media screen and (max-width: 754px) {
  /* ...make the table headings slightly smaller... */
  .score-sheet > table > thead > tr > th {
    padding: 0.5em 0.1em;
    font-size: 0.75rem;
  }

  /* ...allow the score sheet to be the same width as the viewport... */
  .score-sheet {
    border-radius: 0;
    max-width: 754px;
    margin: 0;
  }

  /* ...and remove the space-inefficient "out of" labels... */
  span.small {
    display: none !important;
  }
}
</style>
