<template>
  <div class="score-entry">
    <Score :speaker="1" title="First Affirmative" />
    <Score :speaker="2" title="First Negative" />
    <Score :speaker="3" title="Second Affirmative" />
    <Score :speaker="4" title="Second Negative" />
    <Score :speaker="5" title="Third Affirmative" />
    <Score :speaker="6" title="Third Negative" />
  </div>
</template>

<script>
export default {
  name: 'ScoreEntry',
}
</script>

<style>
.score-entry {
  align-content: center;
  display: flex;
  flex-flow: row wrap;
  min-height: calc(100vh - 64px);
  justify-content: space-around;
  margin: auto;
  max-width: 736px;
}
</style>
