<template>
  <div class="is-centered v-centre">
    <Sheet :score="scores" :details="{ aff: {}, neg: {} }" />
  </div>
</template>

<script>
export default {
  name: 'Scoresheet',
  computed: {
    scores() {
      return this.$store.getters['scores/all']
    },
  },
}
</script>

<style>
div.v-centre {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 64px);
}
</style>
